body {
  background-color: #f5f5f5;
}
.properwrap {
  word-break: break-all;
  wrap: break-word;
}



.buttonpadding {
  margin-top:0.5em;
  margin-right:0.2em;
  margin-bottom:0.1em;
}

#consoleOnPage {
  padding:0.5em;
  font-family: 'Courier New';
  max-height:70vh;
  overflow-y: auto;
}

/* IO TextAreas */
#inputOnPage {
  padding:0.5em;
  font-family: 'Courier New';
  height:50vh;
  max-height:100%;
  overflow-y: auto;
}

#outputOnPage {
  padding:0.5em;
  font-family: 'Courier New';
  height:50vh;
  max-height:100%;
  overflow-y: auto;
}

/* Plot Stuff */
#Plot {
  max-width: 100vh;
}
style="font-kerning: normal; letter-spacing: 0px; font-family:Times, Noto-Serif, Serif"
style="font-kerning: normal; letter-spacing: 0px; font-family:Helvetica, Georgia, Serif"
#createFilterHelperModal_body {
  max-height: 70vh;
  overflow-y: auto;
}

/* Loading Modal Stuff */
#loadingExcelModal_title {
  font-family: Verdana, Geneva, sans-serif;
}

#loadingExcelModal_body {
  font-family: Verdana, Geneva, sans-serif;
}

#loadingExcelModal_footer {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
}

/* Misc */
#inputfile {
  cursor: pointer
}

#templateDropdownElement {
  cursor: pointer
}
